deps
.west
*~

# kicad files

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
*autosave*
*auto_save*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.lck
.vscode
__pycache__

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

.venv/
build/
**/cmake-build-debug/

.idea