menuconfig ADI_TMC2209
        bool "Support Analog Devices, Inc. TMC2209 Stepper Motor Driver"
        default y
        depends on DT_HAS_ADI_TMC2209_ENABLED
        select UART
        select PIPES
        help
            Enable support for the Analog Devices TMC2209 Stepper Motor Driver

menuconfig ADI_TMC2209_SHELL
        bool "Support shell for Analog Devices, Inc. TMC2209 Stepper Motor Driver"
        default n
        depends on ADI_TMC2209
        depends on SHELL
        help
            Enable shell support for the Analog Devices TMC2209 Stepper Motor Driver

config ADI_TMC2209_DEBUG_LEVEL
        int "Log Level [0,4]"
        default 1
