menuconfig LL_STEPPER
        bool "Support LeafLabs stepper driver"
        default y
        depends on DT_HAS_LL_STEPPER_ENABLED
        select USE_STM32_LL_TIM
        select DMA
        help
            Enable support for the stepper driver
