/ {
	aliases {
		status-led = &green_led;
		button = &user_button;
	};

	gpio_keys {
		status = "okay";

		limit_switch0: limit_switch0 {
			label = "Limit Switch 0";
			gpios = <&gpioa 8 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_2>;
		};

		limit_switch1: limit_switch1 {
			label = "Limit Switch 1";
			gpios = <&gpioa 9 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_3>;
		};

		limit_switch2: limit_switch2 {
			label = "Limit Switch 2";
			gpios = <&gpioa 10 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_4>;
		};
	};

	generic-gpios {
		status = "okay";
		compatible = "ll,generic-gpios";
		input-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>, // CAN_ID[0] / DeviceType[0]
					  <&gpiob 1 GPIO_ACTIVE_HIGH>, // CAN_ID[1] / DeviceType[1]
					  <&gpioc 4 GPIO_ACTIVE_HIGH>, // CAN_ID[2] / NodeNumber[0]
					  <&gpioc 5 GPIO_ACTIVE_HIGH>; // CAN_ID[3] / NodeNumber[1]
		output-gpios = <&gpiob 11 GPIO_ACTIVE_HIGH>, // Stim[0]
					   <&gpiob 12 GPIO_ACTIVE_HIGH>, // Stim[1]
					   <&gpiob 13 GPIO_ACTIVE_HIGH>, // Stim[2]
					   <&gpiob 14 GPIO_ACTIVE_HIGH>; // Stim[3]
	};
};

&dma1 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&timers5 {
	status = "okay";
	st,prescaler = <84>; // 170 MHz / (84 + 1) = 2 MHz

	servo0: servo0 {
		compatible = "ll,servo";
		status = "okay";

		pinctrl-0 = <&tim5_ch2_pc12>;
		pinctrl-names = "default";

		pwm-channel = <2>;

		dmas = <&dmamux1 0 76 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";
	};
};

&timers15 {
	status = "okay";
	st,prescaler = <84>; // 170 MHz / (84 + 1) = 2 MHz

	servo1: servo1 {
		compatible = "ll,servo";
		status = "okay";

		pinctrl-0 = <&tim15_ch2_pb15>;
		pinctrl-names = "default";

		pwm-channel = <2>;

		dmas = <&dmamux1 1 79 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";
	};
};

&timers17 {
	status = "okay";
	st,prescaler = <84>; // 170 MHz / (84 + 1) = 2 MHz

	servo2: servo2 {
		compatible = "ll,servo";
		status = "okay";

		pinctrl-0 = <&tim17_ch1_pb9>;
		pinctrl-names = "default";

		pwm-channel = <1>;

		dmas = <&dmamux1 2 85 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";
	};
};

&timers1 {
	status = "okay";
	st,prescaler = <849>; // 170 MHz / (849 + 1) = 200 kHz

	stepper0: stepper0 {
		compatible = "ll,stepper";
		status = "okay";

		pinctrl-0 = <&tim1_ch3_pc2>;
		pinctrl-names = "default";

		// Direction Pin
		dir-gpios = <&gpioc 1 GPIO_ACTIVE_HIGH>;

		// PWM Channel to use
		pwm-channel = <3>;

		dmas = <&dmamux1 3 46 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";
	};
};

&timers8 {
	status = "okay";
	st,prescaler = <849>; // 170 MHz / (849 + 1) = 200 kHz

	stepper1: stepper1 {
		compatible = "ll,stepper";
		status = "okay";

		pinctrl-0 = <&tim8_ch4_pc9>;
		pinctrl-names = "default";

		// Direction Pin
		dir-gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;

		// PWM Channel to use
		pwm-channel = <4>;

		dmas = <&dmamux1 4 53 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";
	};
};

&timers20 {
	status = "okay";
	st,prescaler = <849>; // 170 MHz / (849 + 1) = 200 kHz

	stepper2: stepper2 {
		compatible = "ll,stepper";
		status = "okay";

		pinctrl-0 = <&tim20_ch3_pc8>;
		pinctrl-names = "default";

		// Direction Pin
		dir-gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;

		// PWM Channel to use
		pwm-channel = <3>;

		dmas = <&dmamux1 5 90 STM32_DMA_PRIORITY_MEDIUM>;
		dma-names = "tx";
	};
};


&uart4 {
	pinctrl-0 = <&uart4_rx_pc11 &uart4_tx_pc10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
	pinctrl-names = "default";
	cs-gpios = <&gpioa 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	status = "okay";
};

&dac1 {
	pinctrl-0 = <&dac1_out1_pa4>;
	pinctrl-names = "default";
	status = "okay";
};

&fdcan3 {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x02000000>,
			 <&rcc STM32_SRC_HSE FDCAN_SEL(0)>;
	pinctrl-0 = <&fdcan3_rx_pb3 &fdcan3_tx_pb4>;
	pinctrl-names = "default";
	status = "okay";
};
