menuconfig LIB_MOTOR_MOTION
    bool "Enable the motor motion math library"
    default y
    help
      The motor motion math library implements servo and stepper motor motion
      profiles based on the work by Arevalo
