config LL_ANALOG_OUT_LOG_LEVEL
    int "Log level (0-4)"
        default 4
        help
            Set the log level for the analog output driver

config LL_ANALOG_OUT_INIT_PRIORITY
        int "Initialization priority"
        default 91
        help
            Set the initialization priority for the analog output driver

menuconfig LL_ANALOG_OUT
        bool "Support LeafLabs analog output driver"
        default y
        depends on DT_HAS_LL_ANALOG_OUT_ENABLED
        select DAC
        help
            Enable support for the analog output driver

config LL_ANALOG_OUT_SHELL
        bool "Enable shell commands for analog output driver"
        default y
        depends on SHELL
        depends on LL_ANALOG_OUT
        help
            Enable shell commands for analog output driver
