config LL_ANALOG_STATUS_LOG_LEVEL
    int "Log level (0-4)"
        default 4
        help
            Set the log level for the analog status driver

config LL_ANALOG_STATUS_INIT_PRIORITY
        int "Initialization priority"
        default 91
        help
            Set the initialization priority for the analog status driver

menuconfig LL_ANALOG_STATUS
        bool "Support LeafLabs analog status driver"
        default y
        depends on DT_HAS_LL_ANALOG_STATUS_ENABLED
        select DAC
        help
            Enable support for the analog status driver

config LL_ANALOG_STATUS_SHELL
        bool "Enable shell commands for analog status driver"
        default y
        depends on SHELL
        depends on LL_ANALOG_STATUS
        help
            Enable shell commands for analog status driver
